.card-container {
  background: white;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.25);
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.3em;
}

.card-container img {
  object-fit: cover;
  width: 95%;
  height: 15em;
  display: flex;
  margin: auto;
}

.card-container h2 {
  font-family: "Poppins";
  font-style: normal;
  color: #d36363;
  font-size: 1em;
  margin: 0 auto 0 0.5em;
}

.card-container p {
  font-family: "Poppins";
  font-style: normal;
  font-size: 0.8em;
  margin: 1em;
  margin-top: 2em;
}

.card-container input {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  color: white;
  background: black;
  width: 13em;

  cursor: pointer;
}

.container-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.container-products2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
}

.ver-mas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5em;
}
.ver-mas input {
  border: none;
  background: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.3em;
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .card-container input {
    width: 80%;
    margin-bottom: 0.2em;
    font-size: 1em;
  }
  .card-container {
    font-size: 12px;
    width: -webkit-fill-available;
  }
  .cont-image {
    margin-bottom: 1em;
  }
}

@media (min-width: 681px) and (max-width: 991.98px) {
  .container-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}
