.container-slider {
  display: flex;
  height: 100em;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  margin-left: 10em;
}

.slider-card {
  position: relative;
  scroll-snap-align: center;
  margin: 50px 20px 0;
}

.slider-card img {
  width: 50em;
  height: 90%;
}

.proyectos {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  height: 60em;
  margin-bottom: 10em;
}

.proyectos h1 {
  margin-left: 2.2em;
  font-family: "Zilla Slab";
  margin-bottom: 0.5em;
  font-size: 3em;
}

.container-slider::-webkit-scrollbar {
  background-color: #d36363;
  height: 2em;
}

.container-slider::-webkit-scrollbar-thumb {
  background-color: #5c4b4b;
}

@media screen and (max-width: 680px) {
  .container-slider {
    margin-left: 2em;
  }
  .container-slider::-webkit-scrollbar {
    visibility: hidden;
  }
  .container-slider::-webkit-scrollbar-thumb {
    visibility: hidden;
  }
  .proyectos h1{
    font-size: 2.5em;
    margin-left: 0.3em;
  }
  .slider-card img{
    width: 30em;
    height: 60%;
    object-fit: cover;
  }
 
}

@media (min-width: 681px) and (max-width: 991.98px) and (orientation:portrait) {
  .proyectos h1{
   margin-left: 1em;
    
  }
}