.container-galeria {
  width: 100em;
  margin: auto;
}

.container1{
    display: flex;
}
.container1 img {
  width: 48%;
  margin: 1em;
}

.container1-2 img{
    width: 96%;
    margin: 1em;
}

.container22 img {
  width: 98%;
  height: 30em;
  margin: 1em;
}

.container3 {
  display: flex;
}

.container3 img {
  width: 45%;
  margin: 1em;
}

.container3-img {
  display: flex;
  flex-direction: column;
}

.container3-img img {
  width: 96%;
}

.last-cont img{
width: 96%;
height: 96%;
}

.name {
  position: absolute;
  margin-left: 2em;
  margin-top: 1.8em;
  color: white;
  font-family: "Poppins";
  font-style: normal;
}

.see-more:hover{
    visibility: visible;
    opacity: 1;
    background: red;
}

.see-more{
 
    position:absolute;
  opacity: 0;
visibility: hidden;
-webkit-transition: opacity 600ms, visibility 600ms;
transition: opacity 600ms, visibility 600ms;
    
  }

  .container-galeria-productos{
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95em;
  }

  .container-prod{
    width: 90%;
    display: flex;
   

  }

  .one-prod{
    width: 50%;
    height: 55em;
  }

  .one-prod img{
    width: 98%;
    height: 100%;
    object-fit: cover;

    
  }

  .two-prod{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
  }

  .two-prod-img img{
    width: 98%;
    height: 26.9em;
    margin-bottom: 1em;
    object-fit: cover;
  }
    
