.container-galeria {
  width: 80%;
  margin: auto;
}
.name {
  position: absolute;
  margin-left: 2em;
  margin-top: 1.8em;
  color: white;
  font-family: "Poppins";
  font-style: normal;
}

.container1-twoimages{
  display: flex;
}

.container1-image{
  margin: 1em;
  width: 50%;
}

.container1-image1{
  width: 97%;
 margin: 1em;
}

.container2-oneimage{
  width: 50%;
}

.column{
  display: flex;
  flex-direction: column;
}

.container2-galeria{
  display: flex;
  margin: 1em;
}

.container2-twoimage{
  width: 50%;
  
}

.image-galeria{
  width: 100%;
  height: 35em;
  object-fit: cover;
}

















.container-galeria-productos {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.container-prod {
  width: 90%;
  display: flex;
}

.one-prod {
  width: 50%;
  height: 55em;
}

.one-prod img {
  width: 98%;
  height: 100%;
  object-fit: revert;
}

.two-prod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.two-prod-img img {
  width: 98%;
  height: 26.9em;
  margin-bottom: 1em;
  object-fit: cover;
}
.name-productos {
  margin-left: 5.9em;
}
.name-productos h1 {
  font-family: "Zilla Slab";
  margin-bottom: 2em;
  font-size: 3em;
}

@media screen and (max-width: 680px) {
  
  .name-productos {
    margin-left: 0.3em;
    margin-top: -16em;
  }
  .name-productos h1{
    font-size: 2.5em;
    margin-left: 0.3em;
  }
  
  .images22{
    height: 30em;
  }
  .one-prod img {
    object-fit: cover;
  }
  .container-galeria-productos{
    width: 95%;
  }
}

@media (min-width: 681px) and (max-width: 991.98px) and (orientation:portrait) {
  .name-productos{
    margin-left: 3em;
  }
  .container-galeria-productos{
    width: 95%;
  }
}