

.navbar {
  margin-left: 5em;
  width: 62.5em;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size:0.93em;
line-height: 1.875em;
  position: relative;
  margin-top: 2em;
  
}

ul,
ol {
  list-style: none;
}

.nav li a {
  
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  
}

.nav li a:hover {
  background-color: #434343;
  border-radius: 5px;
 
}

.nav > li {
  float: left;
  
}

 

.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.nav li:hover > ul {
  display: block;
}

@media screen and (max-width: 680px) {
  .navbar{
    width: 55em;
    margin-left: 0;
  }
}