.button {
  color: white;
  background: #d36363;
  position: relative;
  cursor: pointer;
  
}

.principal{
  width: 13.125em;
  height: 3.125em;
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 4.5rem;
  position: relative;
  font-size: 1em;
}

.button:hover{
  background-color: white;
  color:#d36363;
  scale: 1.1;
  transition: .8s;

}

.secundario{
  width: 19em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8em;

  

}

.container-whatsapp{
  position: sticky; 
  top: 52em;
  display: flex;
    justify-content: flex-end;
    margin-right: 2em;
    
}

.whatsapp{
  color:white;
  background: #44c654;
  border-radius: 100%;
}

@media screen and (max-width: 680px) {
  .container-whatsapp{
    margin-left: 50em;
    bottom: 0;
  }
  .principal{
    margin-top: 0;
  }
}