.list-products {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

.element-products {
  display: flex;
  margin: 0.1em;
  border: 1px solid black;  
}




.element-products h4 {
  font-family: "Poppins";
    font-style: normal;
    font-size: 0.88em;
    margin: 0;
    padding: 0.8em;
    text-align: center;
    width: max-content;
}
.productos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productos-phone{
  display: none;
}

@media screen and (max-width: 680px) {
  

  .productos{
    display: none;
  }
  .productos-phone{
    display: flex;
  }
  .element-products h4 {
    width: max-content;
    padding: 0.4em;
    font-size: 0.68em;
  }
}

@media (min-width: 540px) and (max-width: 685.98px){
  .list-products {
    margin-top: 15em;
  }
}
