.columna {
  background: black;
  width: -webkit-fill-available;
  margin: 2em;
}

.columna ul {
  padding: 0;
  width: max-content;
}

.columna h1 {
  font-family: "Zilla Slab";
  font-style: normal;
  color: white;
  font-size: 1.5em;
}

.columna li {
  margin-top: 0.4em;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-size: 0.9em;
  display: flex;
}

.footer {
  display: flex;
  background: black;
  margin-top: 3em;
}

.redes {
  display: flex;
}

.redes li {
  margin: 1em;
}

@media screen and (max-width: 680px) {
  .footer {
    flex-direction: column;
    font-size: 12px;
  }
  .columna h1 {
    text-align: center;
  }
  .columna ul {
    padding: 0;
    margin: auto;
  }
  .columna {
    margin: 2em;
  }
}

@media screen and (max-width: 991px) {
  .footer {
    flex-direction: column;
  }
}

@media (min-width: 681px) and (max-width: 991.98px) {
  .footer {
    flex-direction: column;
  }
  .columna ul {
    padding: 0;
    margin: auto;
  }

  .columna {
    margin: 2em;
  }
  .columna h1 {
    text-align: center;
  }
}
