.columna {
  background: black;
  height: 22em;
}

.columna h1 {
  margin-left: 1.2em;
  font-family: "Zilla Slab";
  font-style: normal;
  color: white;
}

.columna li {
  margin-top: 0.4em;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-size: 0.9em;
}

.footer {
  display: flex;
  background: black;
}

.redes {
  display: flex;
}

.redes li {
  margin: 1em;
}
.columna ul {
  margin-right: 4em;
}

@media screen and (max-width: 680px) {
  .footer {
    flex-direction: column;
    font-size: 12px;
  }
  .columna {
    margin: auto;
    width: max-content;
  }
  .columna h1 {
    text-align: center;
    margin: 1em auto;
  }
  .columna li {
    text-align: center;
  }
}

@media (min-width: 681px) and (max-width: 991.98px) and (orientation: portrait) {
  .footer {
    flex-direction: column;
  }
}
