body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 680px) {
  body {
    font-size: 8px;
  }
}

/*MEDIA CELULAR*/
@media (max-width: 575.98px) and (orientation: portrait) {
}

/*MEDIA TABLET*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation: portrait) {
  .portada {
    height: 62em;
  }
}

/*let navegador = navigator.userAgent;
  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      console.log('estamos desde un celu')
    }else{
      console.log('estamos desde una compu')
    }
  
    if (window.innerWidth <= 768) {
      console.log("Es un móvil");
      
  }*/
